<!DOCTYPE html>
<html>
  <head>
    <title>Couchpotato</title>
    <link rel="stylesheet" href="<%= asset %>/screen.css" type="text/css"/>
	<script src="/_utils/script/json2.js"></script>
	<script src="/_utils/script/jquery.js"></script>
	<script src="/_utils/script/jquery.couch.js"></script>
	<script src="<%= asset %>/jquery.example.js"></script>
	<script src="<%= asset %>/recipe.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		var isearch = $("#isearch")
		isearch.example("search")
		isearch.focus()
		var st = "<%= search %>"
		isearch.val(st)
		isearch.select()			

		// $("#isearch").width($("#content").width() - 10)
        isearch.keypress(isearch_key)
	})
    function _delete(id, rev, name) {
		var doc = { '_id': id, '_rev': rev }
		// alert(JSON.stringify(doc))
		if (confirm("Delete " + name + '?')) {
			$.couch.db('recipes').removeDoc(doc, {
				success: function(resp) {
					document.location.reload()
				}
			})
		}
	}
	</script>
  </head>
  <body>
    <div id="header">
	  <h2><a href="<%= index %>">Rezepte</a></h2>
	  <input id="isearch" type="text" name="key" size=32>
	  <div id="menu">
		<a href="<%= asset %>/_show/import">importieren</a>
		<a href="<%= asset %>/_show/create">neu</a>
	  </div>
	</div>
    <div id="content">
