<!doctype html>
<html>
	<head>
	<link rel="stylesheet" href="<%= asset %>/screen.css" type="text/css"/>
	<style type="text/css">
	</style>
	<script src="<%= asset %>/jquery-1.7.1.min.js"></script>
	<script src="/_utils/script/jquery.couch.js"></script>
	<script src="<%= asset %>/jquery.example.js"></script>
	<script src="<%= asset %>/path.js"></script>
	<script src="<%= asset %>/recipe.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		var isearch = $("#isearch")
		isearch.keypress(isearch_key)
		$('input').each(function() {
			$(this).example(this.name)
		})
		var key = /[?]q=(.*)/.exec(document.location.search)[1]
		isearch.focus()
		isearch.val(decodeURIComponent(key))
		isearch.select()

		// Lucene URL example:
		// http://localhost:5984/_fti/local/recipes/_design/couchpotato/
		// by-content?q=zwiebeln&include_docs=true
		var db = document.location.pathname.split('/')[1]
		var pc = ['', '_fti', 'local', db, '_design', 'couchpotato', 
				  'by-content']
		var url = document.location.protocol 
			+ '//' + document.location.host + pc.join('/')
			+ '?q=' + JSON.stringify(key) + '&include_docs=true'

		$.ajax({
			url: url,
			dataType: 'json',
			success: function(data) {
				var html = ''
				for (var i in data.rows) {
					html += renderRecipe(data.rows[i].doc)
				}
				$('#content').html(html)
			},
			error: function(jqXHR, textStatus, errorThrown) {
				alert('Search failed :' + textStatus + ' ' + errorThrown) 
			}
		})
	})
    </script>
	<title><%= title %></title>
  </head>
  <body>
    <div id="header">
      <h2><a href="<%= index %>">Rezepte</a></h2>
	  <input id="isearch" type="text" name="search" size=32>
	  <div id="menu">
		<a href="../_show/import">importieren</a>
		<a href="../_show/create">neu</a>
	  </div>
	</div>
	<div id="content">
	</div>
  </body>
</html>
