<!doctype html>
<html>
	<head>
	<link rel="stylesheet" href="<%= asset %>/screen.css" type="text/css"/>
	<style type="text/css">
	</style>
	<script src="<%= asset %>/jquery-1.7.1.min.js"></script>
	<script src="/_utils/script/jquery.couch.js"></script>
	<script src="<%= asset %>/jquery.example.js"></script>
	<script src="<%= asset %>/recipe.js"></script>
	<script type="text/javascript">
var recipe = <%= doc %>
function add_ingredient(vdesc, vquantity, vunit) {
	
    function _value(input, value) {
        if (value)
            input.val(value)
        else
            input.example(input.attr('name'))
    }

    $('p#ingredients').append(
        '<br><span id="ingredient">' + 
            '<input type="text" size="30" id="name" name="Zutat">' +
            '<input type="text" size="5" id="quantity" name="Menge">' +
            '<input type="text" size="5" id="unit" name="Einheit">' + 
            '<button class="delete">&nbsp;</button></span>')

    var last = $('span#ingredient').last()
    _value(last.find('input#name'), vdesc)
    _value(last.find('input#quantity'), vquantity)
    _value(last.find('input#unit'), vunit)

	last.find('button').click(function(e) {
		e.preventDefault()
		last.remove()
	})

	return last.find('input#name');
}

function from_recipe() {
	var url = new RegExp(
		'http\://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(/\S*)?', '')

	$('#title > #title').val(recipe.title)
	$('#serves > #serves').val(recipe.serves)
	$('#misc > #tags').val(recipe.tags)
	$('#misc > #source').val(recipe.source)
	$('textarea#description').val(recipe.description)
	
	if (url.test(recipe.source)) {
		var a = $('#misc > #url')
		a.attr('href', recipe.source)
		a.attr('class', 'url')
	}

	if (recipe.ingredients && recipe.ingredients.length) {
		for (var attr in recipe.ingredients[0]) {
			$('#ingredients > #ingredient > #' + attr).val(recipe.ingredients[0][attr])
		}
		for (var i = 1; i < recipe.ingredients.length; ++i) {
			add_ingredient(recipe.ingredients[i].name,
						  recipe.ingredients[i].quantity,
						  recipe.ingredients[i].unit)
		}
	}
}
function to_recipe() {
	function ingredients() {
		var a = null
		$('p#ingredients > #ingredient').each(function(i) {
			var d = null
			$(this).children('input').each(function(i) {
				if (this.value && this.value.length 
					&& this.value != this.name) {
					if (!d) d = {}
					d[this.id] = this.value
				}
			})
				if (!a) a = []
			a.push(d)
		})
		return a
	}
	var d =	 { '_id': recipe._id, '_rev': recipe._rev,
			   'type': 'recipe',
			   'serves': $('#serves > #serves').val(),
			   'tags': $('#misc > #tags').val(),
			   'source': $('#misc > #source').val(),
			   'title': $('#title > #title').val(),
			   'ingredients': ingredients(),
			   'description': $('#description').val() }
	
	// delete empty attributes
	for (attr in d) {
		if (!d[attr]) {
			delete d[attr]
		}
	}
	
	return d
}
function save(e) {
	e.preventDefault()
	//alert(JSON.stringify(to_recipe()))
	$.couch.db('recipes').saveDoc(to_recipe(), { 
		success: function(resp) {
			// alert(JSON.stringify(resp))
			var p = document.location.pathname.split('/')
			p.splice(5, 2, 'edit', resp.id)
			document.location.href = document.location.protocol 
				+ '//' + document.location.host + p.join('/')
		}
	})
}

$(document).ready(function() {
	if('<%= action %>' == 'create') {
		$('.delete').remove()
	}
	else {
		$('.delete').click(function(e) {
			e.preventDefault()
			var doc = { '_id': recipe._id, '_rev': recipe._rev }
			// alert(JSON.stringify(doc))
			$.couch.db('recipes').removeDoc(doc, {
				success: function(resp) {
					// alert(JSON.stringify(resp))
					document.location.href =  document.location.protocol 
						+ '//' + document.location.host + '<%= index %>'
				}
			})
		})
	}
	$('.save').click(save)
	$("#isearch").keypress(isearch_key)
	$('#ingredients > #ingredient > .add').click(function(e) { 
		e.preventDefault()
		var input = add_ingredient()
		input.focus()
	})
	from_recipe()
	$('input').each(function() {
		$(this).example(this.name)
	})
	$('textarea').each(function() {
		$(this).example(this.name)
	})
})
	</script>
	<title><%= title %></title>
  </head>
  <body>
	<div id="header">
	  <h2><a href="<%= index %>">Rezepte</a></h2>
	  <input id="isearch" type="text" name="search" size=32>
	  <div id="menu">
		<a href="<%= asset %>/_show/import">importieren</a>
		<a href="<%= asset %>/_show/create">neu</a>
	  </div>
	</div>
	<div id="content">
	  <form id="edit">
		<p id="title">
		  <input type="text" size="40" id="title" name="title" />
		</p>
		<p id="serves">
		  <input type="text" size="5" id="serves" name="Anzahl" />Personen
		</p>
		<p id="ingredients">
		  <span id="ingredient">
			<input type="text" size="30" id="name" name="Zutat"/><input type="text" size="5" id="quantity" name="Menge"/><input type="text" size="5" id="unit" name="Einheit"/><button class="add">&nbsp;</button>
		  </span>
		</p>
		<textarea id="description" rows="14" 
				  name="Beschreibung"></textarea>
		<p id="misc">
		  Tags: <input type="text" size="80" id="tags" name="Tags" /><br>
		  <a id="url">Quelle</a>: <input type="text" size="80" id="source" name="Quelle"/>
		</p>
		<button class="save">sichern</button>
		<button class="delete">l\u00f6schen</button>
	  </form>
	</div>
  </body>
</html>
