<!doctype html>
<html>
	<head>
	<link rel="stylesheet" href="<%= asset %>/screen.css" type="text/css"/>
	<style type="text/css">
	</style>
	<script src="/_utils/script/jquery.js"></script>
	<script src="/_utils/script/jquery.couch.js"></script>
	<script src="<%= asset %>/jquery.example.js"></script>
	<script type="text/javascript">
	var recipe = <%= doc %>
	function addIngredient(vdesc, vquantity, vunit) {
		
		function addInput(id, name, size, value) {
			var input = document.createElement('input')
			input.setAttribute('type', 'text')
			input.setAttribute('size', size)
			input.setAttribute('id', id)
			input.setAttribute('name', name)
			if (value) input.value = value
			$(input).example(name)
			return input
		}

		var desc = addInput('name', 'ingredient', 30, vdesc)
		var quantity = addInput('quantity', 'quant', 5, vquantity)		
		var unit = addInput('unit', 'unit', 5, vunit)
		var button = document.createElement('button')
		button.setAttribute('class', 'delete')
		var para = $('p#ingredients')
		var br = document.createElement('br')
		var span = $(document.createElement('span'))
		span.attr('id', 'ingredient')
		para.append(br)
		span.append(desc)
		span.append(quantity)
		span.append(unit)
		span.append(button)
		para.append($(span))
		$(button).click(function(e) {
			e.preventDefault()
			para[0].removeChild(br)
			para[0].removeChild(span[0])
		})
	}
	function fromRecipe() {
		$('#title > #title').val(recipe.title)
		$('#title > #serves').val(recipe.serves)
		$('textarea#description').val(recipe.description)
		if (recipe.ingredients && recipe.ingredients.length) {
			for (attr in recipe.ingredients[0]) {
				$('#ingredients > #ingredient > #' + attr).val(recipe.ingredients[0][attr])
			}
			for (var i = 1; i < recipe.ingredients.length; ++i) {
				addIngredient(recipe.ingredients[i].name,
							  recipe.ingredients[i].quantity,
							  recipe.ingredients[i].unit)
			}
		}
	}
	function toRecipe() {
		function ingredients() {
			var a = null
			$('p#ingredients > #ingredient').each(function(i) {
				var d = null
				$(this).children('input').each(function(i) {
					if (this.value && this.value.length 
						&& this.value != this.name) {
						if (!d) d = {}
						d[this.id] = this.value
					}
				})
				if (!a) a = []
				a.push(d)
			})
			return a
		}
		var d =  { '_id': recipe._id, '_rev': recipe._rev,
				   'type': 'recipe',
				   'serves': $('#title > #serves').val(),
				   'title': $('#title > #title').val(),
				   'ingredients': ingredients(),
				   'description': $('#description').val() }

		// delete empty attributes
		for (attr in d) {
			if (!d[attr]) {
				delete d[attr]
			}
		}

		return d
	}
	$(document).ready(function() {
		if('<%= action %>' == 'create') {
			$('.delete').remove()
		}
		else {
			$('.delete').click(function(e) {
				e.preventDefault()
				var doc = { '_id': recipe._id, '_rev': recipe._rev }
				// alert(JSON.stringify(doc))
				$.couch.db('recipes').removeDoc(doc, {
					success: function(resp) {
						// alert(JSON.stringify(resp))
						document.location.href =  document.location.protocol 
							+ '//' + document.location.host + '<%= index %>'
					}
				})
			})
		}
		$("#isearch").keypress(function (e) {
			code = e.keyCode ? e.keyCode : e.which;
			if (code == 13) {
				// Reload the page from the database
				var p = document.location.pathname.split('/')
				p.splice(4, 3, '_list', 'index', 'by-title')
				var href = document.location.protocol 
					+ '//' + document.location.host + p.join('/')
				var key = $(this).val()
				if (key.length) {
					href = href + '?key=' + JSON.stringify(key)
				}
				document.location.href = href
			}
		})
		$("#isearch").focus()
		$('#ingredients > #ingredient > .add').click(function(e) { 
			e.preventDefault()
			addIngredient(null, null, null) })
		fromRecipe()
		$('input').each(function() {
			$(this).example(this.name)
		})
		$("form#edit").submit(function(e) {
			e.preventDefault()
			$.couch.db('recipes').saveDoc(toRecipe(), { 
				// alert(JSON.stringify(toRecipe()))
				success: function(resp) {
					// alert(JSON.stringify(resp))
					var p = document.location.pathname.split('/')
					p.splice(5, 2, 'edit', resp.id)
					document.location.href = document.location.protocol 
						+ '//' + document.location.host + p.join('/')
				}
			})
		})
	})
    </script>
	<title>Recipes - <%= action %> recipe</title>
  </head>
  <body>
    <div id="header">
      <h2><a href="<%= index %>">Recipes</a></h2>
	  <input id="isearch" type="text" name="search" size=32>
	  <a id="edit" href="../../_show/create">create new recipe</a>
	</div>
	<div id="content">
	  <form id="edit">
		<p id="title">
		  <input type="text" size="40" id="title" name="title" /> <input type="text" size="5" id="serves" name="serves" />people
		</p>
		<p id="ingredients">
		  <span id="ingredient">
			<input type="text" size="30" id="name" name="ingredient"/><input type="text" size="5" id="quantity" name="quant"/><input type="text" size="5" id="unit" name="unit"/><button class="add">
		  </span>
		</p>
		<textarea id="description" cols="80" rows="20" id="description" name="description"></textarea>
		<br>
		<button class="save">save</button>
		<button class="delete">delete</button>
	  </form>
	</div>
  </body>
</html>
